<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a><i class="active fa fa-desktop"></i> Lab. S.O.<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="index.html">Report de Máquinas</a></li>
          <li><a href="index.html">Mapa de Máquinas</a></li>
          <li><a href="index.html">Ordem de Serviços</a></li>
          <li><a href="index3.html">Informações</a></li>
          <li><a href="index.html">Dispositivo Embarcado</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-desktop"></i> LERIS<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="index.html">Acesso ao Laboratório</a></li>
          <li><a href="index.html">Relatório</a></li>
          <li><a href="index.html">Dispositivo Embarcado</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /sidebar menu -->

