<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Mapa de Computadores<small>Mapa de Computadores do <%= @laboratory.title%></small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <% @computers.each do |pc| %>
            <div class="col-xs-3 col-sm-2 col-md-1 pc">
              <div class="<%= pc.last_status%>"><%= pc.physical_id %></div>
            </div>
          <% end %>
          <div class="clearfix"></div>
          <div class="labels" style="text-align: center">
            <div class="col-xs-6 col-sm-4"><div class="label_status" style="background-color: green"></div> Livre</div>
              <div class="col-xs-6 col-sm-4"><div class="label_status" style="background-color: red"></div> Ocupado</div>
            <div class="col-xs-12 col-sm-4"><div class="label_status" style="background-color: gray"></div> Em manutenção</div>
          </div>

          <% if not @laboratory.function.include? "b"%>
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
              <strong>Que loucura!</strong> Acreditamos que este laboratório não possui essa opção disponível.
            </div>
          <% end %>
          <div class="x_content">
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
<style>

.pc {
  padding-top: 1em;
}
.available{
  background-color: rgba(255, 0, 0, 0.1);
  text-align: center;
  color: black;
  border-style: solid;
  border-color: red;
  border-width: thin;
}

.busy{
  background-color: rgba(0, 255, 0, 0.1);
  text-align: center;
  color: black;
  border-style: solid;
  border-color: green;
  border-width: thin;
}

.maintenance{
  background-color: rgba(128, 128, 128, 0.2);
  text-align: center;
  color: black;
  border-style: solid;
  border-color: gray;
  border-width: thin;
}

@media screen and (min-width: 768px){
  .maintenance{
    background-color: rgba(128, 128, 128, 0.2);
    height: 20px;
    width: 5em;
    border-style: solid;
    border-color: gray;
    border-width: thin;
  }
  .busy{
    height: 20px;
    width: 5em;
    background-color: rgba(0, 255, 0, 0.1);
    border-style: solid;
    border-color: green;
    border-width: thin;
  }
  .available{
    height: 20px;
    width: 5em;
    background-color: rgba(255, 0, 0, 0.1);
    border-style: solid;
    border-color: red;
    border-width: thin;
  }

  #table-clock{
  }
}

.labels{
  margin-top: 1em;
}

.label_status{
  display: inline-block;
  height: 8px;
  width: 8px;
  vertical-align: center;
  background-color: black;
}
</style>
