$(document).ready(function() {
// Contador de usu치rios
count_usuarios = <% raw @users_count.to_json %>

$("#UC").append("<span class='count_top'><i class='fa fa-user'></i> Usu치rios Cadastrados</span>");
if(count_usuarios != 1)
  $("#UC").append("<div class='count'>"+count_usuarios+" <smallart>usu치rios</smallart></div>");
else
  $("#UC").append("<div class='count'>"+count_usuarios+" <smallart>usu치rio</smallart></div>");
//<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
});