/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "font-awesome";

$grid-float-breakpoint: 10px;

@import "bootstrap";
@import "fullpage";


body{
  margin: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li:last-child{
  padding-right: 15px;
}

section{
  position: relative;
  height: 100%;
  width: 100%;
}

h1{
  text-align: center;
}

// computer status
.maintenance{
  background-color: gray;
  height: 40px;
  width: 80px;
}
.available{
  height: 40px;
  width: 80px;
  background-color: red;
}
.busy{
  height: 40px;
  width: 80px;
  background-color: green;
}

.pc-wrapper{
  text-align: center;
  vertical-align: top;
  display: inline-block;
  padding: 5px;
}

.containerPC{
  background-color: white;
  width: 95%;
  height: 50px;
  display: table;
  table-layout: fixed;
  text-align: center;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.container-wrapper{
  margin-right: 2.5%;
  margin-left: 2.5%;
  background-color: white;
  height: 190px;	
  width: 95%;
}

.container-label{
  text-align: right;
}
.label_status{
  display: inline-block;
  height: 8px;
  width: 8px;
  vertical-align: center;
  background-color: black;
}

.container-fluid{
  padding-top: 80px;
}

.jumbotron h2{
  text-align: center;
}

.fp-controlArrow.fp-prev{
  border-width: 10px 10px 10px  0;
  border-color: transparent black transparent transparent;
}
.fp-controlArrow.fp-next{
  border-width: 10px  0 10px  10px ;
  border-color: transparent transparent transparent black;
}
