/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "font-awesome";

$grid-float-breakpoint: 10px;

@import "bootstrap";
@import "jquery.fullpage";

#report-form{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  background: rgba(0,0,0, 0.5);
}

#report-form-inside{
  position: fixed;
  height: 400px;
  width: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  margin-top: -200px;
}

.alert-danger{
  margin-top: 50px;
}
.alert-success{
  margin-top: 50px;
}

body{
  margin: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li:last-child{
  padding-right: 15px;
}

section{
  position: relative;
  height: 100%;
  width: 100%;
}

h3{
  text-align: center;
}
h1{
  text-align: center;
}

.maintenance{
  background-color: red;
  text-align: center;
  color: black;
  height: 20px;
  width: 2em;
}

.available{
  height: 20px;
  width: 2em;
  background-color: green;
  text-align: center;
  color: white;
}

.busy{
  background-color: gray;
  text-align: center;
  color: white;
  height: 20px;
  width: 2em;
}


@media screen and (min-width: 480px){
  #table-clock{
    height: 200px;
  }
}

@media screen and (min-width: 768px){
  .maintenance{
    background-color: red;
    height: 20px;
    width: 5em;
  }
  .available{
    height: 20px;
    width: 5em;
    background-color: green;
  }
  .busy{
    height: 20px;
    width: 5em;
    background-color: gray;
  }

  #table-clock{
    height: 400px;
  }
}

.pc-wrapper{
  text-align: center;
  vertical-align: top;
  display: inline-block;
  padding: 5px;
}

.containerPC{
  background-color: white;
  width: 95%;
  height: 50px;
  display: table;
  table-layout: fixed;
  text-align: center;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.container-wrapper{
  margin-right: 2.5%;
  margin-left: 2.5%;
  background-color: white;
  height: 190px;	
  width: 95%;
}

.container-label{
  text-align: right;
}
.label_status{
  display: inline-block;
  height: 8px;
  width: 8px;
  vertical-align: center;
  background-color: black;
}

.container-fluid{
}

.jumbotron h2{
  text-align: center;
}

.fp-controlArrow.fp-prev{
  border-width: 20px 20px 20px  0;
  border-color: transparent black transparent transparent;
}
.fp-controlArrow.fp-next{
  border-width: 20px  0 20px  20px ;
  border-color: transparent transparent transparent black;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
