<<<<<<< HEAD
<html lang="en">
  <head>
    <title>SiGLa - Sistema de Gerenciamento de Laboratórios</title>
    <meta name="csrf-param" content="authenticity_token" />
	<meta name="csrf-token" content="fjeRBj5BudItT4D/2AhoRcFcYG5eUYS0w0tYGM8iN4kfpATBAOMccPIIYE4XVnPHfL5AAtfE9V5IUvZ0ThAR6w==" />
    <link rel="stylesheet" media="all" href="/public/assets/about.css" data-turbolinks-track="reload" />
    <script src="/assets/application-c6a3cd90bd2b411717d1782b7e2a6e1ad332b92a859a46c0656e654d7e82f406.js" data-turbolinks-track="reload"></script>
    <link rel="manifest" href="manifest.json">
	<link href="/public/assets/bootstrap-social.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
 
 <body>
	<!--NavBar-->
	 <body>
    <div class="navbar-fixed-top navbar-inverse">
      <a class="navbar-brand">
          Informações
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Sobre</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/users/sign_in">Login<span class="sr-only">(current)</span></a></li>
          </ul>
        </li>
      </ul>
    </div>

   <div id="fullpage">
    <div class="section active" id="section0" style="background-color: black");>
   <div class="container">


		<div class="jumbotron" style="margin-top: 5em">
        <h1>O projeto</h1>
        <p class="lead">Realizado na Universidade Federal de São Carlos - Sorocaba,
						nas matérias de Projeto de Desenvolvimento de Software (PDS) e Interface Humano Computador (IHC).<br /><br />
						O sistema consiste no gerenciamento dos laboratórios de informática, verificando a disponibilidade
						do mesmo e das máquinas a partir de um mapa do laboratório, o status do laboratório (a disponibilidade,
						se atualmente está ocorrendo aula ou monitoria), report de máquinas danificadas e requisição de instalação
						de software para utilização.
		</p>
      </div>
	<div class="jumbotron" style="margin-top: 5em">
      <h1>Os Desenvolvedores</h1>
      <p>Alunos da Universidade federal de São Carlos, Campi Sorocaba </p>

	  <div class="row">
	    <div class="col-sm-4 col-xs-4" >André Domingues Vieira</div>
        <div class="col-sm-4 col-xs-4" >andrevieira.13@hotmail.com</div>
		<div class="col-sm-4 col-xs-4"><a href="https://github.com/@byandreee"><span class="username">@byandreee</span></a></div>

=======
<div class="container-fluid" style="background-color: black">
  <div class="jumbotron" style="margin-top: 5em">
    <h1>O projeto</h1>
    <p class="lead">Realizado na Universidade Federal de São Carlos - Sorocaba,
    nas matérias de Projeto de Desenvolvimento de Software (PDS) e Interface Humano Computador (IHC).<br /><br />
    O sistema consiste no gerenciamento dos laboratórios de informática, verificando a disponibilidade
    do mesmo e das máquinas a partir de um mapa do laboratório, o status do laboratório (a disponibilidade,
    se atualmente está ocorrendo aula ou monitoria), report de máquinas danificadas e requisição de instalação
    de software para utilização.
    </p>
    <h1>Os Desenvolvedores</h1>
    <p>Alunos da Universidade federal de São Carlos, Campi Sorocaba </p>
>>>>>>> origin/master

    <div class="col-sm-6 col-md-3 perfil">
        <div class="thumbnail">
          <img src="/assets/images/andre.jpg" class="img-circle">
          <div class="caption">
            <h3>André Vieira</h3>
            <p>Estudante de Ciência da Computação, curioso na area de robotica com enfase em protêses medicas.<br />Apaixonado por jogos e nas horas vagas praticante de Slackline</p>
            <p><a href="#" onclick="customButtomClick('https://github.com/byandreee')" class="btn btn-social-icon btn-github">
              <i class="fa fa-github"></i>
            </a>
            <a href="#" onclick="customButtomClick('https://br.linkedin.com/in/andredvieira')" class="btn btn-linkedin">
              <i class="fa fa-linkedin"></i>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 perfil">
        <div class="thumbnail">
          <img src="/assets/images/gustavo.jpg" class="img-circle">
          <div class="caption">
            <h3>Gustavo Rodrigues</h3>
            <p>Estudante de exatas com um pé em humanas, apaixonado por diversas áreas do conhecimento.<br />Praticante de Handebol, Natação, Desenho e Maxed nas suas horas vagas.</p>
            <p><a hre="#" onclick="customButtomClick('https://github.com/darkkgreen')" class="btn btn-social-icon btn-github">
              <i class="fa fa-github"></i>
            </a>
            <a href="#" onclick="customButtomClick('https://br.linkedin.com/in/darkkgreen')" class="btn btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
	  
	  <div class="col-sm-6 col-md-3 perfil">
        <div class="thumbnail">
          <img src="/assets/images/eihara.jpg" class="img-circle">
          <div class="caption">
            <h3>Henrique Eihara</h3>
            <p>Estudante de exatas com um pé em humanas,devido ao seu amor pela natureza, fora escoteiro durante um período de sua vida, se apaixonando pelas diversas áreas de conhecimento.</p>
            <p><a hre="#" onclick="customButtomClick('https://github.com/eiguike')" class="btn btn-social-icon btn-github">
              <i class="fa fa-github"></i>
            </a>
            <a href="#" onclick="customButtomClick('https://www.linkedin.com/in/rickeihara')" class="btn btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
	  
	  <div class="col-sm-6 col-md-3 perfil">
        <div class="thumbnail">
          <img src="/assets/images/lordello.jpg" class="img-circle">
          <div class="caption">
            <h3>Renan Lordello</h3>
            <p>Estudante de exatas com um pé em humanas,devido ao seu amor pela natureza, fora escoteiro durante um período de sua vida, se apaixonando pelas diversas áreas de conhecimento.</p>
            <p><a hre="#" onclick="customButtomClick('https://github.com/automagicly')" class="btn btn-social-icon btn-github">
              <i class="fa fa-github"></i>
            </a>
            <a href="#" onclick="customButtomClick('https://br.linkedin.com/in/darkkgreen')" class="btn btn-linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
</div>
  </div>
</div>
