<div class="container">

<div class="page-header">
        <h1>O Projeto</h1>
		
        <p class="lead",><justify>Realizado na Universidade Federal de São Carlos - Sorocaba, nas matérias de Projeto de Desenvolvimento de Software (PDS) e Interface Humano Computador (IHC).<br />
						O sistema consiste no gerenciamento dos laboratórios de informática, verificando a disponibilidade do mesmo e das máquinas a partir de um mapa do laboratório, o status do laboratório 
						(a disponibilidade, se atualmente está ocorrendo aula ou monitoria), report de máquinas danificadas e requisição de instalação de software para utilização.</justify></p>
</div>



<h1>Desenvolvedores</h1>
<br />
<div class="col-sm-3 col-md-3 perfil">
	<div class="thumbnail">
		<img src="/assets/images/andre.jpg" class="img-circle">
		<div class="caption">
		<h3>André Vieira</h3>
		<p align:"justify">Estudante de Ciência da Computação, curioso na área de robótica com ênfase em próteses médicas.<br />Apaixonado por jogos e nas horas vagas praticante de Slackline</p>
		<p align:"center"><a href="https://github.com/byandreee" class="btn btn-social-icon btn-github">
		<i class="fa fa-github"></i>
		</a>
		<a href="https://www.linkedin.com/in/andredvieira" class="btn btn-linkedin">
		<i class="fa fa-linkedin"></i>
		</a></p>
		</div>
	</div>
</div>

<div class="col-sm-3 col-md-3 perfil">
  <div class="thumbnail">
    <img src="/assets/images/gustavo.jpg" class="img-circle">
    <div class="caption">
      <h3>Gustavo Rodrigues</h3>
      <p align:"justify">Estudante de exatas com um pé em humanas, apaixonado por diversas áreas do conhecimento.<br />Praticante de Handebol, Natação, Desenho e Maxed nas suas horas vagas. </p>
      <p align:"center"><a href="https://github.com/darkkgreen" class="btn btn-social-icon btn-github">
        <i class="fa fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/darkkgreen" class="btn btn-linkedin">
        <i class="fa fa-linkedin"></i></p>
      </a>
    </div>
  </div>
</div>

<div class="col-sm-3 col-md-3 perfil">
  <div class="thumbnail">
    <img src="/assets/images/eihara.jpg" class="img-circle">
    <div class="caption">
      <h3>Henrique Eihara</h3>
      <p align:"justify"></p>
      <p align:"center"><a href="https://github.com/eiguike" class="btn btn-social-icon btn-github">
        <i class="fa fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/rickeihara" class="btn btn-linkedin">
        <i class="fa fa-linkedin"></i>
      </a></p>
    </div>
  </div>
 </div>
<div class="col-sm-3 col-md-3 perfil">
    <div class="thumbnail">
      <img src="/assets/images/lordello.jpg" class="img-circle">
      <div class="caption">
        <h3>Renan Lordello</h3>
        <p align:"justify">Estudante de Ciência da Computação, louco por matemática e desenvolvimento de software, e praticante de e-sports.</p>
        <p align:"center"><a href="https://github.com/automagicly" class="btn btn-social-icon btn-github">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/renan-lordello-de-aguiar-a1628b4b" class="btn btn-linkedin">
          <i class="fa fa-linkedin"></i>
        </a></p>
      </div>
    </div>
  </div>
  
 
  
</div>
 <div class="col-sm-6 col-md-6">
	<h1>Changelogs</h1>
	
	<p align:"justify">
	18/11/2016 - Adição da pagina Sobre<br />
	19/11/2016 - Indentificado problemas na pagina About<br />
	//completar logs<br />
	
	</p>
  </div>
<style>
body {
  padding-top: 75px;
}

.img-circle {
  max-width: 140px;
  max-height: 140px;
}

.centered {
  width: 600px;
}


.thumbnail {
  border-style: none;
  background-color: transparent;
}

.caption {
  background-color: white;
  border-radius: 30px;
}

.jumbotron p {
  margin: 0;
}

#consulta-relativa {
  margin: 15px 0;
}

.alert {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.table {
  margin-bottom: 0;
}

#selectList {
  border: 0;
  border-radius: 6px;
  box-shadow: none;
}

#selectList2 {
  border: 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: none;
}

#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;

}

</style>
